.App{
  text-align: center;
}
.counter_div button{
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid black;
  border-radius: 40px;
}
.counter_div button:hover{
  cursor: pointer;
  background: black;
  color: white;
}
hr{
  margin: 20px;
}
.list_main{
  margin-top: 50px;
}
.list_main h1{
  margin-bottom: 0;
  padding-bottom: 0;
}
.board{
  margin: 0 auto;
  padding: 0;
  width: 210px;
  height: 210px;
  border: 1px solid black;
}
.board_btn{
  border: 1px solid black;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  width: 70px;
  height: 70px;
}
.score{
  display: inline;
}
.score h1{
  display: inline;
  padding-right: 5%;
  padding-left: 5%;
}
.round_winner{
  margin-top: 30px;
  margin-bottom: 10px;
}
.round_winner h1{
  margin: 0;
  padding: 0;
}
.reset_btn{
  margin: 10px;
  padding: 10px;
  background: none;
  border: 1px solid black;

}
.reset_btn:hover{
  background: black;
  color: white;
}
.next_info{
  color: black;
}
.winner_info{
  color: red;
}
.generate{
  width: 20%;
  background: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.generate:hover{
  background: black;
  color: white;
}
.try{
  width: 20%;
  background: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.try:hover{
  background: #2acaea;
}
.code{
  width: 20%;
  font-size: 40px;
  text-align: center;
  outline: none;
  background: none;
  border: 1px solid black;
}
.code:focus{
  outline: none;
}
.code:hover{
  outline: none;
  border: 1px solid black;
}
